      <div class="container-about">
  
        <div class="container-item">
          {{ section.settings.image_1 | img_url: '600x' | img_tag | replace: '<img', '<img class="image-about" '}}
          <div class="text-container">
            <h3>{{section.settings.title_1}}</h3>
            <p>
               {{section.settings.paragraph_1}}
            </p>
          </div>
        </div>
        
        <div class="container-item">
          <div class="text-container">
            <h3>{{section.settings.title_2}}</h3>
            <p>
             {{section.settings.paragraph_2}}
            </p>
          </div>
          {{ section.settings.image_2 | img_url: '600x' | img_tag | replace: '<img', '<img class="image-about" '}}
        </div>
        <div class="container-item">
           {{ section.settings.image_3 | img_url: '600x' | img_tag | replace: '<img', '<img class="image-about" '}}
          <div class="text-container">
            <h3>{{section.settings.title_3}}</h3>
            <p>
              {{section.settings.paragraph_3}}
            </p>
          </div>
        </div>
        <div class="container-item">
          <div class="text-container">
            <h3>{{section.settings.title_4}}</h3>
            <p>
              {{section.settings.paragraph_4}}
            </p>
          </div>
           {{ section.settings.image_4 | img_url: '600x' | img_tag | replace: '<img', '<img class="image-about" '}}
        
        </div>
      </div>
{% schema %}
{
  "name": "Image and Text",
  "settings": [
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "Image"    
    },
    {
      "type": "text",
      "label": "Title",
      "id": "title_1"
    },
    {
      "type": "textarea",
      "label": "Paragraph",
      "id": "paragraph_1"
    },
     {
      "type": "image_picker",
      "id": "image_2",
      "label": "Image"    
    },
    {
      "type": "text",
      "label": "Title",
      "id": "title_2"
    },
    {
      "type": "textarea",
      "label": "Paragraph",
      "id": "paragraph_2"
    },
     {
      "type": "image_picker",
      "id": "image_3",
      "label": "Image"    
    },
    {
      "type": "text",
      "label": "Title",
      "id": "title_3"
    },
    {
      "type": "textarea",
      "label": "Paragraph",
      "id": "paragraph_3"
    },
     {
      "type": "image_picker",
      "id": "image_4",
      "label": "Image"    
    },
    {
      "type": "text",
      "label": "Title",
      "id": "title_4"
    },
    {
      "type": "textarea",
      "label": "Paragraph",
      "id": "paragraph_4"
    }

  ]
    
}
{% endschema %}