<h1>{{section.settings.heading}}</h1>

<div class="faq">
{%- for block in section.blocks -%}
{%- if block.type == "QA" -%}
<div class="question">
    <input type="checkbox" id="question-{{forloop.index0}}" class="question-toggle" />
    <label for="question-{{forloop.index0}}" class="question-label">
        {{block.settings.question}}
    </label>
    <div class="answer">{{block.settings.answer}}</div>
</div>
{%- elsif block.type == "headline" -%}
<h4>{{block.settings.title}}</h4>
{%- endif -%}
{%- endfor -%}
</div>



{%schema%}
{
    "name": "customer questions",
    "settings": [
        {
            "type": "text",
            "label": "heading for faq",
            "id": "heading"
        },
        {
            "type": "text",
            "label": "customer questions",
            "id": "question"
        },
        {
            "type": "textarea",
            "label": "answer for faq",
            "id": "answer"
        }
    ],
    "blocks": [
        {
        "type": "QA",
        "name": "Question/Answer",
        "settings": [
            {
            "type": "text",
            "label": "title (internal only)",
            "id": "title"
            },
            {
            "type": "text",
            "label": "customer questions",
            "id": "question"
            },
            {
            "type": "richtext",
            "label": "answer for faq",
            "id": "answer"
            }
            ]
        },
        {
            "type": "headline",
            "name": "headline",
            "settings": [
                {
                    "type": "text",
                    "label": "headline",
                    "id": "title"
                }
                
            ]
        }
    ]
}
{%endschema%}
